@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<h1>Login to me pls</h1>
<form asp-controller="Login" asp-action="VerifyLogin" method="post">
    <input name="User" /> 
    <input name="Password" type="password" />
    <button type="submit">Login</button>
</form>
